<h1>Teendő beküldése</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/add">
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Teendő leírása: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="leiras" id="leiras" 
               placeholder="Mit kell megcsinálni"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Kinek kell megcsinálni: </label>
      <div class="col-lg-10">
        <select class="form-control" name="kinek" id="kinek">
          {{#each users as |user|}}
            <option>{{user.surname}} {{user.forename}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-left">Mégse</button>
        <button type="submit" class="btn btn-success pull-right">Hozzáadás</button>
      </div>
    </div>
</form>